#background {
  background-color: black;
}

#card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title {
  font-size: 7vh;
  margin: 0.5vh;
  font-family: Helvetica;
}

#subtitle {
  font-size: 7vh;
  margin: 0.5vh;
  font-family: Helvetica;
}

#timestamp {
  font-size: 2vh;
  color: white;
  text-align: left;
}

#display {
  position: fixed;
  top: 100%;
  transform: translate(0%, -100%);
  opacity: 0.3;
}
